body 
{
	color: #0C0;
	background-color: #000;
	font-size: 18px;
	border: solid, #0C0, 5px;
}

#boldstuff
{
	font-weight:bold;
}

#centerStuff 
{
     color: #0C0;
     text-align: center;
}
#leftmargin 
{
     border: 5px solid #0C0;
     color: #0C0;
     float: left;
     height: 250px;
     left: -102px;
     margin-left: 100px;
     position: fixed;
     top: 0px;
     width: 100px;
}
#rightmargin 
{
     border: 5px solid #0C0;
     color: #0C0;
     float: right;
     height: 250px;
     right: -102px;
     margin-right: 100px;
     position: fixed;
     top: 0px;
     width: 100px;
	 a:visited {color:#0C0};
	 a:active {color:#0C0};
}
#stuff {
	text-align:center;
    border:hidden;
    height: 100px;
    left: 103px;
    margin-left: 100px;
    margin-right: 100px;
    top: 75px;
    width: auto;
}
#navigationbar
{
	position:relative;
	width:auto;
	border:none;
	background-color:#6F0;
}
#copyright 
{
     border: 5px solid #0C0;
     color: #0C0;
     height: 50px;
     left: -102px;
	 text-align:center;
	 position:fixed;
}
#biggerText
{
	text-height: 18px;
}

a:link
{
	/*red*/
	color:#0C0
}

a:visited 
{
	/*Blue*/
	/* [disabled]color:#03F; */
}

a:hover 
{
	/*red*/
	/* [disabled]color:#900; */
}

a:active 
{
	/*red*/
	/* [disabled]color:#900; */
}
